/*
Color List:
- blue #08f7fe / rgb(8, 247, 254)
- green #09fbd3 / rgb(9, 251, 211)
- pink #fe53bb / rgb(254, 83, 187)
- yellow #f5d300 / rgb(245, 211, 0)
- black 
*/

/***************************
****************************
Reset
****************************
***************************/

@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body , html{
    height: 100%;
}

/***************************
****************************
Base Styles
****************************
***************************/



/***************************
****************************
Layout Styles
****************************
***************************/

body{
    background-color:black;
}
.container{
    display: grid; 
    height: 100vh;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 20vh 40vh 10vh 10vh 10vh 10vh;
    grid-gap: 0.2rem 0;
}

nav{
    background-color: #08f7fe;
}

main{
    background-color:#09fbd3;

}
#result{
    background-color:#fe53bb;
}